BeautifulSoup==3.2.1
beets==1.3.18
Django==1.11.29
django-countries==3.4.1
django-suit==0.2.19
#gevent==1.1.1
#greenlet==0.4.10
Logbook
python-dateutil==2.5.3
pytz
requests
simplejson==3.8.2
elasticsearch==5.0.0
